@import '_base';

.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}

.item {
  display: block;
  background: $item-bg;
  border: 1px solid $item-border;
  margin-bottom: 10px;
}

.item-name {
  display: block;
  color: $item-name;

  background: $item-name-bg;
  margin: 0;
  padding: 7px 5px 5px;
  font-size: 120%;
  text-align: center;
}

.item-content {

  @include clearfix();

  padding: 0;

  display: flex;
  flex-direction: row;

  align-items: center;

}

.item-info {
  flex-shrink: 0;
  text-align: center;
  width: 100px;
  height: 100px;
}

.item-img {
  width: 100px;
  height: 100px;
}

.item-stats {
  list-style: none;
  padding: 0 5px 0 10px;
  margin: 0;
}

.stat {
  color: $item-neutral;
}

.stat-pos {
  color: $item-positive;
}

.stat-neg {
  color: $item-negative;
}
