@import '_base';

.filter {
  @include box-sizing(border-box);
  width: 100%;
}

.filters {
  .filter {

    font-size: 18px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.show-equipped {

}

.welcome {
  font-size: 20px;
  margin: 7px 0 15px;
}

.search {
  &:focus {

  }
}