
@font-face {
  font-family: 'tf2secondary';
  src: url('/css/fonts/tf2secondary.eot');
  src: url('/css/fonts/tf2secondary.eot?#iefix') format('embedded-opentype'),
  url('/css/fonts/tf2secondary.woff2') format('woff2'),
  url('/css/fonts/tf2secondary.woff') format('woff'),
  url('/css/fonts/tf2secondary.ttf') format('truetype'),
  url('/css/fonts/tf2secondary.svg#tf2secondary') format('svg');
  font-weight: normal;
  font-style: normal
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}